:root ._dsp-flex{display:flex;}
:root ._fd-column{flex-direction:column;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._jc-center{justify-content:center;}
:root ._ai-center{align-items:center;}
:root ._fg-1{flex-grow:1;}
:root ._fs-1{flex-shrink:1;}
:root ._fb-auto{flex-basis:auto;}
:root ._gap-1316330145{gap:var(--space-11);}
:root ._ai-stretch{align-items:stretch;}
:root ._fs-0{flex-shrink:0;}
:root ._w-10037{width:100%;}
:root ._pr-0{padding-right:0;}
:root ._pl-0{padding-left:0;}
:root ._col-675002279{color:var(--color);}
:root ._tt-230632984{text-transform:var(--f-tr-8);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-233016264{font-weight:var(--f-we-8);}
:root ._ls-167744183{letter-spacing:var(--f-21-8);}
:root ._fos-229441344{font-size:var(--f-si-8);}
:root ._lh-222976697{line-height:var(--f-li-8);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._whiteSpace-pre-wrap{white-space:pre-wrap;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._fd-row{flex-direction:row;}
:root ._jc-441309761{justify-content:space-between;}
:root ._ai-flex-end{align-items:flex-end;}
:root ._tt-230632953{text-transform:var(--f-tr-7);}
:root ._fow-233016233{font-weight:var(--f-we-7);}
:root ._ls-167744152{letter-spacing:var(--f-21-7);}
:root ._fos-229441313{font-size:var(--f-si-7);}
:root ._lh-222976666{line-height:var(--f-li-7);}
:root ._h-1px{height:1px;}
:root ._bg-1218753978{background-color:var(--gray10);}