:root ._dsp-flex{display:flex;}
:root ._fd-column{flex-direction:column;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fg-0d0t346{flex-grow:0.3;}
:root ._fs-1{flex-shrink:1;}
:root ._fb-0d0t25px46{flex-basis:0.25px;}
:root ._h-10037{height:100%;}
:root ._bg-D73F0935{background-color:#426B1F;}
:root ._ai-flex-start{align-items:flex-start;}
:root ._jc-flex-end{justify-content:flex-end;}