:root ._col-675002279{color:var(--color);}
:root ._tt-230633015{text-transform:var(--f-tr-9);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-233016295{font-weight:var(--f-we-9);}
:root ._ls-167744214{letter-spacing:var(--f-21-9);}
:root ._fos-229441375{font-size:var(--f-si-9);}
:root ._lh-222976728{line-height:var(--f-li-9);}
:root ._dsp-inline{display:inline;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._whiteSpace-pre-wrap{white-space:pre-wrap;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._dsp-flex{display:flex;}
:root ._fd-column{flex-direction:column;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._jc-center{justify-content:center;}
:root ._ai-center{align-items:center;}
:root ._w-10037{width:100%;}
:root ._fg-1{flex-grow:1;}
:root ._fs-1{flex-shrink:1;}
:root ._fb-auto{flex-basis:auto;}
:root ._gap-1316330393{gap:var(--space-19);}
:root ._ai-stretch{align-items:stretch;}
:root ._fs-0{flex-shrink:0;}
:root ._als-flex-start{align-self:flex-start;}
:root ._mt-1481558214{margin-top:var(--space-7);}
:root ._w-9337{width:93%;}
:root ._tt-230632984{text-transform:var(--f-tr-8);}
:root ._fow-233016264{font-weight:var(--f-we-8);}
:root ._ls-167744183{letter-spacing:var(--f-21-8);}
:root ._fos-229441344{font-size:var(--f-si-8);}
:root ._lh-222976697{line-height:var(--f-li-8);}
:root ._mb-1481558214{margin-bottom:var(--space-7);}
:root ._ml-1481558214{margin-left:var(--space-7);}
:root ._tt-230632953{text-transform:var(--f-tr-7);}
:root ._fow-233016233{font-weight:var(--f-we-7);}
:root ._ls-167744152{letter-spacing:var(--f-21-7);}
:root ._lh-222976666{line-height:var(--f-li-7);}
:root ._fos-229441282{font-size:var(--f-si-6);}
:root ._mt-1481558276{margin-top:var(--space-5);}
:root ._mr-1481558276{margin-right:var(--space-5);}
:root ._mb-1481558276{margin-bottom:var(--space-5);}
:root ._ml-1481558276{margin-left:var(--space-5);}
:root ._col-D73F0935{color:#D73F09;}
:root ._fd-row{flex-direction:row;}
:root ._mt-1316330238{margin-top:var(--space-14);}
:root ._jc-441309761{justify-content:space-between;}
:root ._mt-1481558152{margin-top:var(--space-9);}
:root ._mr-1481558152{margin-right:var(--space-9);}
:root ._mb-1481558152{margin-bottom:var(--space-9);}
:root ._ml-1481558152{margin-left:var(--space-9);}
:root ._fos-229441313{font-size:var(--f-si-7);}
:root ._mt-1316330145{margin-top:var(--space-11);}
:root ._mr-1316330145{margin-right:var(--space-11);}
:root ._mb-1316330145{margin-bottom:var(--space-11);}
:root ._ml-1316330145{margin-left:var(--space-11);}
:root ._als-center{align-self:center;}
:root ._w-9537{width:95%;}
:root ._fow-800{font-weight:800;}
:root ._fow-600{font-weight:600;}
:root ._fos-16px{font-size:16px;}
:root ._btc-D73F0935{border-top-color:#D73F09;}
:root ._brc-D73F0935{border-right-color:#D73F09;}
:root ._bbc-D73F0935{border-bottom-color:#D73F09;}
:root ._blc-D73F0935{border-left-color:#D73F09;}
:root ._btw-1px{border-top-width:1px;}
:root ._brw-1px{border-right-width:1px;}
:root ._bbw-1px{border-bottom-width:1px;}
:root ._blw-1px{border-left-width:1px;}
:root ._w-11037{width:110%;}
:root ._btlr-10px{border-top-left-radius:10px;}
:root ._btrr-10px{border-top-right-radius:10px;}
:root ._bbrr-10px{border-bottom-right-radius:10px;}
:root ._bblr-10px{border-bottom-left-radius:10px;}
:root ._bg-FBCEB135{background-color:#FBCEB1;}
:root ._mr-1481558214{margin-right:var(--space-7);}
:root ._pt-1481558214{padding-top:var(--space-7);}
:root ._pr-1481558214{padding-right:var(--space-7);}
:root ._pb-1481558214{padding-bottom:var(--space-7);}
:root ._pl-1481558214{padding-left:var(--space-7);}
:root ._jc-1937124468{justify-content:space-around;}
:root ._bbs-solid{border-bottom-style:solid;}
:root ._bts-solid{border-top-style:solid;}
:root ._bls-solid{border-left-style:solid;}
:root ._brs-solid{border-right-style:solid;}
:root ._w-5037{width:50%;}
:root ._ml-1316331106{margin-left:var(--space-21);}