:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fd-column{flex-direction:column;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fg-1{flex-grow:1;}
:root ._fs-1{flex-shrink:1;}
:root ._fb-auto{flex-basis:auto;}
:root ._fd-row{flex-direction:row;}
:root ._fs-0{flex-shrink:0;}
:root ._jc-441309761{justify-content:space-between;}
:root ._ai-center{align-items:center;}
:root ._col-675002279{color:var(--color);}
:root ._tt-230633015{text-transform:var(--f-tr-9);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-233016295{font-weight:var(--f-we-9);}
:root ._ls-167744214{letter-spacing:var(--f-21-9);}
:root ._fos-229441375{font-size:var(--f-si-9);}
:root ._lh-222976728{line-height:var(--f-li-9);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._whiteSpace-pre-wrap{white-space:pre-wrap;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._w-10037{width:100%;}
:root ._gap-0px{gap:0px;}
:root ._tt-230632953{text-transform:var(--f-tr-7);}
:root ._fow-233016233{font-weight:var(--f-we-7);}
:root ._ls-167744152{letter-spacing:var(--f-21-7);}
:root ._fos-229441313{font-size:var(--f-si-7);}
:root ._lh-222976666{line-height:var(--f-li-7);}
:root ._col-white{color:white;}
:root ._col-1218753916{color:var(--gray12);}
:root ._fow-400{font-weight:400;}
:root ._pos-absolute{position:absolute;}
:root ._b-2px{bottom:2px;}
:root ._pb-1316330145{padding-bottom:var(--space-11);}
:root ._jc-center{justify-content:center;}