:root ._dsp-flex{display:flex;}
:root ._fd-row{flex-direction:row;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._pos-absolute{position:absolute;}
:root ._jc-441309761{justify-content:space-between;}
:root ._ai-center{align-items:center;}
:root ._pt-1481558214{padding-top:var(--space-7);}
:root ._pb-1481558214{padding-bottom:var(--space-7);}
:root ._pr-1481558152{padding-right:var(--space-9);}
:root ._pl-1481558152{padding-left:var(--space-9);}
:root ._b-0px{bottom:0px;}
:root ._l-0px{left:0px;}
:root ._r-0px{right:0px;}
:root ._bg-EEEEEEEE35{background-color:#EEEEEEEE;}
:root ._bblr-1307609998{border-bottom-left-radius:var(--radius-5);}
:root ._bbrr-1307609998{border-bottom-right-radius:var(--radius-5);}
:root ._col-675002279{color:var(--color);}
:root ._tt-230632984{text-transform:var(--f-tr-8);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-233016264{font-weight:var(--f-we-8);}
:root ._ls-167744183{letter-spacing:var(--f-21-8);}
:root ._fos-229441344{font-size:var(--f-si-8);}
:root ._lh-222976697{line-height:var(--f-li-8);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._whiteSpace-pre-wrap{white-space:pre-wrap;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._mt-1481558214{margin-top:var(--space-7);}
:root ._fos-229441127{font-size:var(--f-si-1);}